* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 95vh;
  margin: 0;
}

body {
  background-color: #000000;
  position: relative;
}
/*** Start enter page section ***/
#fading-arnold {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 25px;
  opacity: 0;
  animation-name: fade-in-arnold;
  animation-duration: 9s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#enter-music {
  position: absolute;
  visibility: hidden;
}

#header-flex {
  position: relative;
  display: flex;
  background-color: transparent;
  color: #aaaaaa;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: xx-large;
  text-shadow: 0px 0px 8px #fa1e0e;
  top: 0%;
  right: 0px;
  height: 30px;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#header-flex:hover {
  text-shadow: 5px 5px 10px #3e00ff;
}
/***** End enter page section *****/
main {
  display: flex;
  width: 100%;
  max-width: 1024px;
  max-height: 768px;
  margin: 10px auto;
  position: relative;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

/***** Start Image sectiom ******/
.container {
  width: 100%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.img-xs-small {
  width: 20%;
  height: 300px;
  border-radius: 10px;
}

.img-small {
  width: 30%;
  height: 200px;
  border-radius: 10px;
}

.img-large-container {
  position: relative;
  width: 50%;
  cursor: default;
}

#enter-link {
  /*img-large-container is this links parent*/
  text-align: center;
  padding: 10px 15px;
  cursor: crosshair;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  text-decoration: none;
  z-index: 1; /*Needs z-index to be over images because of hirarchy structure in HTML*/
  animation-name: enter-link-ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#img-large {
  width: 100%;
  height: 350px;
  position: relative;
}

#inner-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  opacity: 0;
  transform: scale(1.05);
  transition: 0.5s ease;
}

#arnold-head-box-four-img {
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 0;
}

#arnold-head-box-four-img:hover {
  opacity: 1;
  border-radius: 100%;
  border: 4px solid #c70d3a;
}

/*Hover the link to make the inner-img visible function*/
#enter-link:hover ~ #inner-img {
  opacity: 1;
}
/***** End image section ******/
/*** Start animation section ***/
/*Any suggestions for this animation? Maybe put in some sort of action when hoverd and paused?*/
#box-one {
  position: absolute;
  background-color: #003f5c;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  animation: box-one-ani;
  opacity: 0;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 10s;
  box-shadow: 5px 5px 30px #aaaaaa;
}

#box-one:hover {
  height: 130px;
  width: 170px;
  border-radius: 70%;
}

#box-two {
  position: absolute;
  background-color: #ff0075;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 20px;
  border-radius: 10%;
  animation-name: box-two-ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#box-three {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16697a;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  animation: box-three-ani;
  opacity: 0;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 13.75s;
}

#box-three:hover {
  border-radius: 100%;
}

#box-four {
  position: absolute;
  background-color: #d4ecdd;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  animation: box-four-ani;
  opacity: 0;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 17.5s;
  background-image: radial-gradient(
    #142850 25%,
    #27496d 25%,
    #27496d 50%,
    #0c7b93 50%,
    #0c7b93 75%,
    #00a8cc 75%
  );
}

#box-four:hover {
  border-radius: 100%;
  background-image: linear-gradient(
    #f45905 25%,
    #c70d3a 25%,
    #ff0000 50%,
    #c400c6 50%,
    #512c62 75%,
    #45969b 75%
  );
}
/******end of animation section******/
/*** Start Keyframes ***/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-arnold {
  0% {
    opacity: 0;
    z-index: -1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes enter-link-ani {
  0% {
    border: 2px solid #1db9c3;
    color: #f56fad;
  }
  25% {
    border: 4px solid #7027a0;
    color: #c32bad;
  }
  50% {
    border: 6px solid #c32bad;
    color: #3e00ff;
  }
  51% {
    border: 6px solid #c32bad;
    color: #3e00ff;
  }
  75% {
    border: 4px solid #7027a0;
    color: #c32bad;
  }
  100% {
    border: 2px solid #1db9c3;
    color: #f56fad;
  }
}

@keyframes box-one-ani {
  0%,
  100% {
    transform: rotate(0deg);
    right: 5%;
    top: 2%;
    opacity: 1;
  }
  25% {
    transform: rotate(1080deg);
    right: 5%;
    opacity: 1;
  }
  27% {
    transform: rotate(1080deg);
    top: 80%;
    right: 5%;
    opacity: 0.2;
  }
  50% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 0.2;
  }
  51% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 1;
  }
  76% {
    transform: rotate(1080deg);
    top: 2%;
    right: 86%;
    opacity: 1;
  }
  78% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.2;
  }
}

@keyframes box-two-ani {
  0%,
  100% {
    animation-direction: reverse;
    background-color: #ff0075;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    animation-direction: reverse;
    background-color: #172774;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  27% {
    animation-direction: reverse;
    background-color: #ff0000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    background-color: #77d970;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  75% {
    animation-direction: reverse;
    background-color: #511281;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes box-three-ani {
  0%,
  100% {
    transform: rotate(0deg);
    right: 5%;
    top: 2%;
    opacity: 1;
    background-color: #090088;
    color: #c72c41;
  }
  25% {
    transform: rotate(1080deg);
    right: 5%;
    opacity: 1;
    background-color: #c72c41;
    color: #090088;
  }
  27% {
    transform: rotate(1080deg);
    top: 80%;
    right: 5%;
    opacity: 0.2;
    background-color: #ffa62b;
    color: #46b5d1;
  }
  50% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 0.2;
    background-color: #46b5d1;
    color: #ffa62b;
  }
  51% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 1;
    background-color: #db6400;
    color: #090088;
  }
  76% {
    transform: rotate(1080deg);
    top: 2%;
    right: 86%;
    opacity: 1;
    background-color: #16697a;
  }
  78% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.2;
  }
}

@keyframes box-four-ani {
  0%,
  100% {
    transform: rotate(0deg);
    right: 5%;
    top: 2%;
    opacity: 1;
  }
  25% {
    transform: rotate(1080deg);
    right: 5%;
    opacity: 1;
  }
  27% {
    transform: rotate(1080deg);
    top: 80%;
    right: 5%;
    opacity: 0.2;
  }
  50% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 0.2;
  }
  51% {
    transform: rotate(0deg);
    top: 80%;
    right: 86%;
    opacity: 1;
  }
  76% {
    transform: rotate(1080deg);
    top: 2%;
    right: 86%;
    opacity: 1;
  }
  78% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.2;
  }
  to {
    background-position: 0 -300vh;
  }
}

/****** End keyframes ******/
