* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 95vh;
  margin: 0;
}

body {
  background-color: #000000;
  position: relative;
}

#fading-arnold {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 25px;
  opacity: 0;
  animation-name: fade-in-arnold;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

main {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 10px auto;
  position: relative;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

/***** Start Image sectiom ******/
.container {
  width: 100%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.img-xs-small {
  width: 20%;
  height: 300px;
  border-radius: 10px;
}

.img-small {
  width: 30%;
  height: 200px;
  border-radius: 10px;
}

.img-large-container {
  position: relative;
  width: 50%;
  cursor: default;
}

#enter-link {
  /*img-large-container is this links parent*/
  text-align: center;
  padding: 10px 15px;
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  cursor: crosshair;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  text-decoration: none;
  z-index: 1; /*Needs z-index to be over images because of hirarchy structure in HTML*/
  animation-name: enter-link-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#enter-link:hover {
  border-color: #fff;
  color: #fff;
}

#img-large {
  width: 100%;
  height: 350px;
  position: relative;
}

#inner-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  opacity: 0;
  transform: scale(1.05);
  transition: 0.5s ease;
}

/*Hover the link to make the inner-img visible function*/
#enter-link:hover ~ #inner-img {
  opacity: 1;
}

/***** End image section ******/
/***animation section***/
.left-side-animation {
  border: 1px solid red;
}

.right-side-animation {
  border: 1px solid blue;
}

#box-three {
  position: absolute;
  top: 100px;
  right: 80%;
  background-color: rgb(7, 7, 248);
  height: 150px;
  width: 150px;
  border-radius: 10%;
  animation: box-ani-right-box-three;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
#box-three:hover {
  animation-play-state: paused;
}

#box-four {
  position: absolute;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 20px;
  border-radius: 10%;
  animation-name: box-ani-right-box-four;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/***end of animation section***/
/****** Start Keyframes ******/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-arnold {
  0% {
    opacity: 0;
    z-index: -1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes enter-link-ani {
  0% {
    border: 2px solid red;
    color: red;
  }
  25% {
    border: 4px solid hotpink;
    color: indigo;
  }
  50% {
    border: 6px solid magenta;
    color: blue;
  }
  51% {
    border: 6px solid magenta;
    color: blue;
  }
  75% {
    border: 4px solid hotpink;
    color: hotpink;
  }
  100% {
    border: 2px solid red;
    color: red;
  }
}

@keyframes box-ani-right-box-three {
  0%,
  100% {
    transform: rotate(0deg);
    right: 5%;
    top: 1%;
    opacity: 1;
  }
  25% {
    transform: rotate(1080deg);
    right: 5%;
    opacity: 1;
  }
  27% {
    transform: rotate(1080deg);
    top: 79%;
    right: 5%;
    opacity: 0.2;
  }
  50% {
    transform: rotate(0deg);
    top: 79%;
    right: 86%;
    opacity: 0.2;
  }
  51% {
    transform: rotate(0deg);
    top: 79%;
    right: 86%;
    opacity: 1;
  }
  75% {
    transform: rotate(1080deg);
    top: 5%;
    right: 86%;
    opacity: 1;
  }
  77% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.2;
  }
}

/* @keyframes box-ani-right-box-four {
  0%,
  100% {
    transform: rotate(0deg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    transform: rotate(0deg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  51% {
    transform: rotate(0deg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
} */
/***** End keyframes *****/
