/* Header styling */
.header {
    position: relative;
    top: 0%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    background-color: aquamarine;
    height: 100px;
    width: 100%;
}

/* Main content styling */
.main-content {
    position: relative;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 768px;
    height: 576;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: blueviolet;
}

.main-content-element {
    border: solid;
    height: 100%;
}

#main-content-element1 {
    grid-area: 1/1/2/2;
}

#main-content-element2 {
    grid-area: 2/1/5/2;
}

#main-content-element3 {
    grid-area: 1/2/5/4;
}