/* Body */
body {
    background-color: #000000;
}

/* Header styling */
.header {
    position: relative;
    top: 0vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    background-color: transparent;
    height: 100px;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bolder;
}

.header-element-img {
    position: absolute;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
}

.header-element-img:hover {
    box-shadow: 0px 0px 200px 40px #FFD700;
}

.header-element-embed {
    position: fixed;
    top: 200px;
    left: 0px;
    display: none;
    opacity: 0;
}

.smoke {
    background-color: #000000;
}

.section p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.seciont-span {
    display: inline-block;
    animation: smokey 1.5s linear forwards;
    opacity: 0;
}
.section {
    background-color: #000000;
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to right, #FFFFFF, #FFD700, #D4AF37);
    mix-blend-mode: color;
    pointer-events: none;
}

video {
    object-fit: cover;
    /* height: 100%; */
    width: 20%;
    left:50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

p span:nth-child(1) {
    animation-delay: 0.5s;
}

p span:nth-child(2) {
    animation-delay: 1s;
}
p span:nth-child(3) {
    animation-delay: 1.5s;
}
p span:nth-child(4) {
    animation-delay: 2s;
}
p span:nth-child(5) {
    animation-delay: 2.5s;
}
p span:nth-child(6) {
    animation-delay: 3s;
}
p span:nth-child(7) {
    animation-delay: 0s;
}
p span:nth-child(8) {
    animation-delay: 0.33s;
}
p span:nth-child(9) {
    animation-delay: 0.66s;
}
p span:nth-child(10) {
    animation-delay: 1s;
}
p span:nth-child(11) {
    animation-delay: 1.33s;
}
p span:nth-child(12) {
    animation-delay: 1.66s;
}
p span:nth-child(13) {
    animation-delay: 2s;
}
p span:nth-child(14) {
    animation-delay: 2.33s;
}
p span:nth-child(15) {
    animation-delay: 2.66s;
}
p span:nth-child(16) {
    animation-delay: 3s;
}
p span:nth-child(17) {
    animation-delay: 3.33s;
}
p span:nth-child(18) {
    animation-delay: 3.66s;
}
p span:nth-child(19) {
    animation-delay: 4s;
}

@keyframes smokey {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    } 100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

/* Main content styling */
.main-content {
    position: relative;
    top: 150px;
    left: 50%;
    border: 25px solid #FFFFFF;
    transform: translateX(-50%);
    width: 768px;
    height: 576px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #000000;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 2;
}

.main-content-element-img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 33.3333%;
    border-radius: 5%;
}

#main-content-element1 {
    grid-area: 1/1/2/2;
}

#main-content-element2 {
    grid-area: 2/1/5/2;
}

#main-content-element3 {
    position: absolute;
    grid-area: 1/2/5/4;
    overflow-y: scroll;
    max-height: 95%;
}

.p-in-main-section{
    font-weight: bold;
}

#main-content-element3::-webkit-scrollbar {
    width: 10px;
    height: 100px;
}

#main-content-element3::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

#main-content-element3::-webkit-scrollbar-thumb {
    background: #FFD700;
    opacity: 0;
    border-radius: 10px;
}

p {
    margin-left: 0px 10px 0px 10px;
    font-size: 20px;
}

#element3-p2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Golden left animation, left */
.background {
    position: absolute;
    height: 200px;
    width: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    left: 10%;
    top: 50%;
    }

.background-element {
    height: 100%;
    width: 100%;
    
}

.background-element:nth-child(even) {
    animation: backgroundMove 3s infinite ease-in-out;
}

.background-element:nth-child(odd) {
    animation: backgroundMove 3s infinite ease-in-out;
    animation-delay: 1.5s;
}

@keyframes backgroundMove {
    0% {
        transform: scale(1);
        background-color: #D4AF37;
        opacity: 0.75;
    } 25% {
        background-color: #FFD700;

    } 50% {
        transform: scale(3);
        background-color: #D4AF37;
        opacity: 0.25;
    } 75% {
        background-color: #FFD700;
    } 100% {
        transform: scale(1);
        background-color: #D4AF37;
        opacity: 0.75;
    }
}

/* Animation div aka the Arnold Waterfall */

.animation-div-container{
    position: fixed;
    z-index: 0;
    top: 150px;
    height: 600px;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
}

.animation-div {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    left: 50%;
    opacity: 0;
}
.animation-follow-div-one {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 250ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-two {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 500ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-three {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 750ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-four {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 1000ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-five {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 1250ms;
    left: 50%;
    opacity: 0;
}
.animation-follow-div-six {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 1500ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-seven {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 1750ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-eight {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 2000ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-nine {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 2250ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-ten {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 2500ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-eleven {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 2750ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-twelve {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 3000ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-thirteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 3250ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-fourteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 3500ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-fifteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 3750ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-sixteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 4000ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-seventeen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 4250ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-eighteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 4500ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-nineteen {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 4750ms;
    left: 50%;
    opacity: 0;
}

.animation-follow-div-twenty {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100%;
    animation: rightSlideOne 4s linear infinite;
    animation-delay: 4000ms;
    left: 50%;
    opacity: 0;
}

.arnold-head-one {
    transform: translate(50%, 5%);
    width: 100px;
}
.arnold-head-two {
    transform: translate(100%, 10%);
    width: 100px;
}
.arnold-head-three {
    transform: translate(150%, 15%);
    width: 100px;
}
.arnold-head-four {
    transform: translate(200%, 20%);
    width: 100px;
}
.arnold-head-five {
    transform: translate(250%, 25%);
    width: 100px;
}

/* Animations */

@keyframes rightSlideOne {
    from{transform: translate(500px,0px); opacity: 0.75;}
    5%{transform: translate(490px,25px);}
    10%{transform: translate(480px,50px);}
    15%{transform: translate(470px,75px);}
    20%{transform: translate(460px,100px);}
    25%{transform: translate(450px,125px);}
    30%{transform: translate(440px,175px);}
    35%{transform: translate(430px,225px);}
    40%{transform: translate(425px,275px);}
    45%{transform: translate(420x,325px);}
    50%{transform: translate(415px,375px); opacity: 0.5;}
    55%{transform: translate(410px,425px);}   
    60%{transform: translate(405px,475px);}   
    65%{transform: translate(400px,525px);}   
    70%{transform: translate(400px,575px);}   
    75%{transform: translate(400px,625px);}   
    80%{transform: translate(400px,675px);}   
    85%{transform: translate(400px,700px);}   
    90%{transform: translate(400px,725px);}   
    95%{transform: translate(400px,750px);}      
    to{transform: translate(400px,760px);}  
}

/* Sounds */

#arnold-clothes:active + #arnold-clothes-mp3 { 
    display: block; 
}

#arnold-lied:active + #arnold-lied-mp3 {
    display: block;
}

#arnold-choppa:active + #arnold-choppa-mp3 {
    display: block;
}

#arnold-conan:active + #arnold-conan-mp3 {
    display: block;
}

#arnold-questions:active + #arnold-questions-mp3 {
    display: block;
}

#arnold-cumming:active + #arnold-cumming-mp3 {
    display: block;
}
